import semua yg kita perlukan

In [1]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
import pandas as pd

In [2]:
df = pd.read_csv('NYC_Motor_Vehicle_Collisions_to_Person.csv')

1. Data Cleaning

In [3]:
df = df.copy()

In [4]:
df = pd.concat([df, df], ignore_index=True)
print("NIlai Duplikat: ")
df.duplicated().sum()

NIlai Duplikat:

np.int64(45669)

In [5]:
df.drop_duplicates(inplace=True)
print("NIlai Duplikat: ")
df.duplicated().sum()

NIlai Duplikat:

np.int64(0)

In [6]:
df.isnull().sum()

CRASH_DATE                   0
CRASH_TIME                   0
PERSON_INJURY                0
PERSON_AGE                 421
BODILY_INJURY                0
SAFETY_EQUIPMENT         12177
PERSON_SEX                   0
PERSON_TYPE                  0
PED_LOCATION             39098
CONTRIBUTING_FACTOR_2    39123
EJECTION                  6240
COMPLAINT                    0
EMOTIONAL_STATUS             0
VEHICLE_ID                6571
PERSON_ID                    0
CONTRIBUTING_FACTOR_1    39111
POSITION_IN_VEHICLE       6221
PED_ROLE                     0
UNIQUE_ID                    0
PED_ACTION               39098
COLLISION_ID                 0
dtype: int64

In [7]:
df_modus = SimpleImputer(strategy='most_frequent')
df[['PERSON_AGE', 'SAFETY_EQUIPMENT', 'PED_LOCATION', 'CONTRIBUTING_FACTOR_2', 'EJECTION', 'VEHICLE_ID', 'CONTRIBUTING_FACTOR_1', 'POSITION_IN_VEHICLE', 'PED_ACTION']] = df_modus.fit_transform(df[['PERSON_AGE', 'SAFETY_EQUIPMENT', 'PED_LOCATION', 'CONTRIBUTING_FACTOR_2', 'EJECTION', 'VEHICLE_ID', 'CONTRIBUTING_FACTOR_1', 'POSITION_IN_VEHICLE', 'PED_ACTION']])

In [8]:
df.isnull().sum()

CRASH_DATE               0
CRASH_TIME               0
PERSON_INJURY            0
PERSON_AGE               0
BODILY_INJURY            0
SAFETY_EQUIPMENT         0
PERSON_SEX               0
PERSON_TYPE              0
PED_LOCATION             0
CONTRIBUTING_FACTOR_2    0
EJECTION                 0
COMPLAINT                0
EMOTIONAL_STATUS         0
VEHICLE_ID               0
PERSON_ID                0
CONTRIBUTING_FACTOR_1    0
POSITION_IN_VEHICLE      0
PED_ROLE                 0
UNIQUE_ID                0
PED_ACTION               0
COLLISION_ID             0
dtype: int64

4. feature engineering

In [9]:
bins = [0, 12, 18, 35, 60, 80]
labels = ['Child', 'Teen', 'Young Adult', 'Adult', 'Senior']
df['Age_Group'] = pd.cut(df['PERSON_AGE'], bins=bins, labels=labels)
df[['PERSON_AGE', 'Age_Group']].head()

  PERSON_AGE    Age_Group
0       62.0       Senior
1       24.0  Young Adult
2       30.0  Young Adult
3       71.0       Senior
4       69.0       Senior

2. Normalisasi/standarisasi kolom numerik

STANDARISASI

In [10]:
df1 = pd.read_csv('NYC_Motor_Vehicle_Collisions_to_Person_Copy.csv')
slr = StandardScaler()
df1[['PERSON_AGE', 'VEHICLE_ID', 'UNIQUE_ID', 'COLLISION_ID']] = slr.fit_transform(df1[['PERSON_AGE', 'VEHICLE_ID', 'UNIQUE_ID', 'COLLISION_ID']])

NORMALISASI

In [11]:
mx = MinMaxScaler()
df1[['PERSON_AGE', 'VEHICLE_ID', 'UNIQUE_ID', 'COLLISION_ID']] = mx.fit_transform(df1[['PERSON_AGE', 'VEHICLE_ID', 'UNIQUE_ID', 'COLLISION_ID']])

In [12]:
df1['PERSON_AGE'].max()

np.float64(1.0)

In [13]:
df1['PERSON_AGE'].min()

np.float64(0.0)

3. encoding

In [14]:
df2 = pd.read_csv('NYC_Motor_Vehicle_Collisions_to_Person_copy1.csv')

In [15]:
df2[['PERSON_INJURY', 'BODILY_INJURY', 'PERSON_SEX']]

      PERSON_INJURY         BODILY_INJURY PERSON_SEX
0            Killed                  Head          F
1            Killed           Entire Body          M
2            Killed                  Head          M
3            Killed                  Head          M
4            Killed           Entire Body          F
...             ...                   ...        ...
45664       Injured                  Back          M
45665       Injured   Knee-Lower Leg Foot          M
45666       Injured                  Head          F
45667       Injured  Elbow-Lower-Arm-Hand          F
45668       Injured  Shoulder - Upper Arm          M

[45669 rows x 3 columns]

In [16]:
hot = OneHotEncoder(sparse_output=False)
encoded = hot.fit_transform(df2[['PERSON_INJURY', 'PERSON_SEX']])

In [17]:
encoded1 = pd.DataFrame(encoded,columns=['Killed', 'Injured', 'M', 'F', 'U'])
encoded1

       Killed  Injured    M    F    U
0         0.0      1.0  1.0  0.0  0.0
1         0.0      1.0  0.0  1.0  0.0
2         0.0      1.0  0.0  1.0  0.0
3         0.0      1.0  0.0  1.0  0.0
4         0.0      1.0  1.0  0.0  0.0
...       ...      ...  ...  ...  ...
45664     1.0      0.0  0.0  1.0  0.0
45665     1.0      0.0  0.0  1.0  0.0
45666     1.0      0.0  1.0  0.0  0.0
45667     1.0      0.0  1.0  0.0  0.0
45668     1.0      0.0  0.0  1.0  0.0

[45669 rows x 5 columns]

5. split data

In [18]:
X = df.drop(columns='PERSON_AGE')
y = df['PERSON_AGE']

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [20]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(31968, 21)
(13701, 21)
(31968,)
(13701,)

disini kita melakukan datasplit, dimana kita menentukan x dan y nya untuk di training set dan testing set
kita memakai test size nya 0,3, karena 0,3 melambangkan 30% dari total data 100% data dan menjadi sisa data 70%